.count-down-timer-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-width: 350px;
    min-height: 300px;
    background-color: cadetblue;
    border-radius: 20px;
}

.count-down-timer-container h2 {
    margin: 1.5em 0 2em 0;
    font-size: 1.5em;
    color: #fff;
}

.count-down-timer {
    display: flex;
    gap: 1em;
}

.count-down-timer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.count-down-timer div p {
    font-size: 2em;
    color: #00ff00;
}

.count-down-timer div span {
    font-size: 1em;
}